@model IEnumerable<AppVendasWeb.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<h1 class="display-5 text-secondary text-center my-5">Produtos</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary d-inline-flex align-items-center">
        <svg class="me-2" bootstrap-icon="PlusSquare" width="16" height="16" aria-label="Adicionar"></svg>Adicionar
    </a>
</p>
<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.CategoriaNome)
                </td>
                <td class="text-end">

                    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.ProdutoId">Editar</a>
                    <a class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.ProdutoId">Detalhe</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.ProdutoId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
