@model AppVendasWeb.Models.ItemDaVenda

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>ItemDaVenda</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venda)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venda.VendaId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-danger" asp-action="Edit" asp-route-id="@Model?.ItemDaVendaId">Editar</a>
    <a class="btn btn-danger" asp-action="Index">Voltar</a>
</div>
