@model IEnumerable<AppVendasWeb.Models.ItemDaVenda>

@{
    ViewData["Title"] = "ItensDaVenda";
}

<h1 class="display-5 text-light my-5">Itens da Venda</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-danger d-inline-flex align-items-center">
        <svg class="me-2" bootstrap-icon="PatchPlusFill" width="16" height="16" aria-label="Adicionar"></svg>Adicionar
    </a>
</p>
<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venda.VendaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td class="text-end">
                    <a class="text-decoration-none" asp-action="Edit" asp-route-id="@item.ItemDaVendaId">
                        <svg class="mx-2 text-danger" bootstrap-icon="PencilFill" width="16" height="16" aria-label="Editar"></svg>

                    </a>
                    <a class="text-decoration-none" asp-action="Details" asp-route-id="@item.ItemDaVendaId">
                        <svg class="mx-2 text-danger" bootstrap-icon="InfoCircleFill" width="16" height="16" aria-label="Editar"></svg>

                    </a>
                    <a class="text-decoration-none" asp-action="Delete" asp-route-id="@item.ItemDaVendaId">
                        <svg class="mx-2  text-danger" bootstrap-icon="Trash2Fill" width="16" height="16" aria-label="Editar"></svg>

                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
